In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./energydata_complete.csv")

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.shape

(19735, 29)

In [27]:
from sklearn.metrics import r2_score , mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

In [20]:
model = LinearRegression()

In [23]:
X = df["T2"]
y = df["T6"]

X_train, X_test, y_train, y_test = train_test_split(np.array(X).reshape(-1, 1), y, random_state=42, test_size=0.2)

model.fit(np.array(X_train).reshape(-1, 1), y_train)

LinearRegression()

In [24]:
y_pred = model.predict(np.array(y_test).reshape(-1, 1))

r2_score(y_test, y_pred)

-2359.3829270211195

In [41]:
X = df.drop(["date", "lights", "Appliances"], axis=1)
y = df["Appliances"]
X_scaled = pd.DataFrame(scaler.fit_transform(X))

model = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=42, test_size=0.3)

model.fit(X_train, y_train)

LinearRegression()

In [30]:
y_preds = model.predict(X_test)

mean_absolute_error(y_test, y_preds)

53.64036482451741

In [31]:
mean_squared_error(y_test, y_preds)

8768.076463950061

In [34]:
np.sqrt(mean_squared_error(y_test, y_preds))

93.6380075821248

In [36]:
r2_score(y_test, y_preds)

0.14894705971581168

In [37]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [44]:
X

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [46]:
get_weights_df(model, X, "Linear model")

       Features  Linear model
0           rv2 -1.688410e+14
1          RH_2 -4.885773e+02
2         T_out -3.443497e+02
3            T2 -2.525956e+02
4            T9 -2.031904e+02
5          RH_8 -1.686271e+02
6        RH_out -8.313042e+01
7          RH_7 -4.773767e+01
8          RH_9 -4.257425e+01
9            T5 -1.673509e+01
10           T1 -3.510725e+00
11  Press_mm_hg  7.305136e+00
12           T7  1.109750e+01
13   Visibility  1.317522e+01
14         RH_5  1.710775e+01
15         RH_4  2.823576e+01
16           T4  3.092026e+01
17    Windspeed  3.120246e+01
18         RH_6  4.071291e+01
19         RH_3  1.027468e+02
20           T8  1.091119e+02
21    Tdewpoint  1.259831e+02
22           T6  2.528840e+02
23           T3  3.108816e+02
24         RH_1  5.923125e+02
25          rv1  1.688410e+14

In [49]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [51]:
preds = ridge_reg.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

93.66122703951963

In [52]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [53]:
get_weights_df(lasso_reg, X_train, "Lasso")

    Features       Lasso
0          3 -484.565333
1         18 -332.571693
2          2 -249.468798
3         16 -202.502545
4         15 -168.695476
5         20  -78.000385
6         13  -47.389094
7         17  -42.455100
8          8  -17.118723
9          0   -4.147124
10        25    0.000000
11        24    1.631174
12        19    7.282154
13        12   10.346809
14        22   13.078319
15         9   17.103321
16         7   27.445905
17         6   30.345197
18        21   31.389514
19        11   40.092883
20         5  102.204611
21        14  108.883423
22        23  118.598030
23        10  250.080979
24         4  310.210384
25         1  590.599827

In [54]:
preds = lasso_reg.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

93.64067509185512